.Home {
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: black;
}
.Home-screen {
    background-color: #EDEEFF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Home-nav {
    width: 100%;
    color: white;
    padding: 1vh 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
}

.Home-nav-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 12vh;
    width: 50vw;
}

.Home-nav-links a {
    font-family: "Syne", sans-serif;
    font-weight: 600;
    color: black;
    text-decoration: none;
    font-size: 2.2vh;
}

.Home-nav-logo {
    text-decoration: none;
    height: 12vh;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Home-nav-logo a {
    font-family: "Syne", sans-serif;
    font-weight: 700;    
    color: black;
    text-decoration: none;
    font-size: 4.5vh;
}
.Home-second {
    display: flex;
    flex-direction: row;
    width: 100vw;
}
.Home-header-container {
    height: 100vh;
    display: flex;
    width: 64vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Home-header {
    display: flex;
    font-size: 5vh;
    color: black;
    font-family: "Syne", sans-serif;
    font-weight: 700;
    height: 20vh;
    width: 30vw;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.Home img {
    max-width: 100vw;
    height: 100vh;
    display: block;
    align-items: center;
    justify-content: center;
}
.Home-subheader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 25vw;
    text-align: center;
}
.Home-subheader a:hover {
    background-color: black;
    color: white;
}
.Home-subheader a {
    background-color: #C2AFF0;
    font-family: "Syne", sans-serif;
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-size: 2.3vh;
    padding: 1vh 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vh;
    height: 2.2vw;
}
