.sidebar {
    position: fixed;
    top: 50%;
    left: 10px;
    width: 250px;
    height: 50%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    transform: translateX(-100%) translateY(-50%);
    transition: transform 0.3s ease-in-out;
    z-index: 1;
  }
  
  .sidebar.closed {
    transform: translateX(-110%) translateY(-50%);
  }
  
  .sidebar:not(.closed) {
    transform: translateX(0) translateY(-50%);
  }
  
  .menu-button {
    position: fixed;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background-color: #f0f0f0;
    border: none;
    padding: 10px 20px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    z-index: 2;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #333;
    border-radius: 5px;
  }
  
  .close-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .sidebar-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #333;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.5;
    padding: 10px 20px 10px 40px; /* Increased left padding */
    box-sizing: border-box;
    transition: background-color 0.3s, padding-left 0.3s ease;
    border-radius: 5px;
    position: relative;
  }
  
  .sidebar-item::before {
    content: "";
    position: absolute;
    left: 15px; 
    top: 50%;
    height: 20px;
    width: 20px;
    background-color: black;
    transform: translateY(-50%);
  }
  .sidebar-item.profile {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  
  
  
  .sidebar-item:hover {
    background-color: #FFFFFF;
    padding-left: 50px;
  }
  
  .hide {
    display: none;
  }

